.task {
    transition: all 0.4s;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &:hover {
        transform: translateX(0.5rem);
    }

    &__name {
        border-radius: 0.5rem;
        padding: 1rem;
        border: 1px solid $primary;
        color: $black;
        font-size: 1.8rem;
        display: inline-block;

        &--completed {
            text-decoration: line-through;
        }
    }

    &__delete {
        color: $primary;
        font-size: 2rem;
        margin-left: 1.5rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    transition: all 0.4s;
    margin: 6rem 0;
    width: 50rem;

    @media only screen and (max-width: $bp-small) {
        width: 100%;
        margin: 6rem auto;
    }

    &__group {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }

    &__label {
        font-size: 1.8rem;
        color: $gray;
        margin-bottom: 1.2rem;
    }

    &__input {
        border-radius: 0.5rem;
        padding: 1.2rem 0.8rem;
        font-size: 1.6rem;
        color: $black;
        border: 0.14rem solid rgba(0, 0, 0, 0.1);
        outline: none;
        flex: 0 0 90%;

        @media only screen and (max-width: $bp-small) {
            flex: 0 0 85%;
        }

        &:focus,
        &:active {
            border: 0.14rem solid $secondary;
        }

        &--aux {
            display: flex;
            width: 100%;

            .btn {
                flex: 1;
                margin-left: 1rem;
                font-size: 2rem;
            }
        }
    }
}

.msg {
    margin: 3rem 0;

    &__text {
        margin-top: 3rem;
        font-size: 2rem;
        color: $gray;
    }
}
