.flex-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 3rem;
}

.flex-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 3rem;
}

.btn {
    font-size: 1.6rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #fff;
    transition: all 0.2s;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        opacity: 0.85;
    }

    &:active {
        opacity: 1;
    }

    &--primary {
        background-color: $primary;
    }

    &--secondary {
        background-color: $secondary;
    }

    &--delete {
        background-color: $white;
        color: $primary;
        margin-left: 3rem;
        box-shadow: none;
        padding: 0;
    }
}

.controls {
    display: flex;
    align-items: flex-end;
}
